html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #7A9E7E;
    margin-bottom: 60px;
}

p {
    color: #000000
}


.contactform label {
    width: 100px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}

header {
    font-family: 'Inter', sans-serif;
    Background: #e8f1f2
}

img {
    width: 10px;
    height: 10px;
}
