@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<form>
    Voornaam: <input type= "text" name="voornaam" />
    Achternaam: <input type= "text" name="achternaam" />
    <input type="submit" value="opslaan" />
</form>

<p>Hallo @ViewData["voornaam"] die achternaam @ViewData["achternaam"] heeft</p>