<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<body>

    <div class="container">
        @{
        ViewData["Title"] = "Gorilla";
        }
        <h1>@ViewData["Title"]</h1>
    </div>

</body>