<link rel="stylesheet" href="~/css/dierendetails.css" asp-append-version="true" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

<body>

    <div class="content">
        <div class="dieren-paspoort">
        @{
        ViewData["Title"] = "Gorilla";
        }
        <h1>@ViewData["Title"]</h1>

        <p> Gorilla Bokito en zijn familie zijn voor veel bezoekers een vast onderdeel van hun bezoek. Op 14 maart 2016 werd hij 20 jaar. Bokito is van een slungelige puber uitgegroeid tot een gespierde en evenwichtige zilverrug. Hij is een echte familieman die het leuk vindt om met de kleintjes te spelen. Bokito leidt de harem van vrouwtjes en jongen. Met zijn indrukwekkende verschijning zorgt hij voor rust in de groep en een veilig klimaat voor alle familieleden.</p>
        <p><strong>Geboorte</strong></p>
        <p>Op 11 februari 2022 werd onverwacht een Westelijke laaglandgorilla geboren. Het jong is zeer welkom maar was niet gepland. Het aantal geboortes wordt gereguleerd vanuit het Europese fokprogramma (EEP). </p>
        <p></p>

        <dl>
					<dt>Latijnse naam</dt>
						<dd>Gorilla gorilla gorilla</dd>
					<dt>Ik ben een</dt>
						<dd>zoogdier</dd>
					<dt>Gewicht</dt>
						<dd>man tot 180 kg, vrouw zo’n 90 kg</dd>
					<dt>Hoogte/lengte</dt>
						<dd>man met gestrekte benen zo’n 1.25 tot 1.75 meter, vrouw tot zo’n 1½ meter</dd>
					<dt>Maximale leeftijd (wild)</dt>
						<dd>30 à 40 jaar</dd>
					<dt>Aantal jongen per keer</dt>
						<dd>1 jong per keer</dd>
					<dt>Zwanger</dt>
						<dd>ongeveer 8 maanden</dd>
					<dt>Volwassen met</dt>
						<dd>mannetje 10 jaar, vrouwtje 8 jaar</dd>
					<dt>Voedsel in het wild</dt>
						<dd>kruiden (wilde selderie), bladeren, loten en merg van takken, boomschors, vruchten</dd>
					<dt>Let op:</dt>
						<dd>Alle getallen zijn gemiddelden van metingen in het wild.</dd>
					<dt>Bedreigingsniveau</dt>
						<dd>Zeer bedreigd</dd>
							
	</dl>
    </div>
    </div>


</body>