<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<body onload="checkCookie()">

@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Monki dierentuinen!</h1>
    <p> Het leukste uitje voor het hele gezin!</p>
</div>

    <div class= "olifantfoto">
    <img src="Images/Olifant.jpg" alt="Olifant">
    </div>
</body>