@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Monki dierentuinen!</h1>
</div>

<div class= "olifantfoto">
<img src="Images/Olifant.jpg" alt="Olifant">
</div>


<body onload="checkCookie()"></body>