<link rel="stylesheet" href="~/css/kaartjes.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Kaartjes</h1>

    <div class ="container-kaartje">
      <div class="text-kaartje">
         <h2>Dagkaart</h2>
         <p>Heb jij zin in een dag bomvol plezier en avontuur</p>
      </div>
      <button type="button"> koop nu!</button>
    </div>    

        <div class ="container-kaartje">
      <div class="text-kaartje">
         <h2>Dagkaart</h2>
         <p>Heb jij zin in een dag bomvol plezier en avontuur</p>
      </div>
      <button type="button"> koop nu!</button>
    </div>    

        <div class ="container-kaartje">
      <div class="text-kaartje">
         <h2>Dagkaart</h2>
         <p>Heb jij zin in een dag bomvol plezier en avontuur</p>
      </div>
      <button type="button"> koop nu!</button>
    </div>    
 </div>