<link rel="stylesheet" href="~/css/kaartjes.css" asp-append-version="true" />


<div class="container">
@{
    ViewData["Title"] = "Home Page";
}
    <h1 class="display-4">Kaartjes</h1>
    <p class="titel-text">Heb jij zin in een dag bomvol plezier en avontuur!<br></p>

    <div class ="container-kaartje">
      <div class="text-kaartje">
         <h2>Dagkaart</h2>
         <p>Een hele dag onbeperkt plezier?<br />Bestel nu onze dagkaart!</p>
     
      <img src="Images/leeuwlogo.png" />

      <h2>Voor Maar €12</h2>
      </div>
      <button type="button">Koop Nu!</button>
    </div>    

        <div class ="container-kaartje">
      <div class="text-kaartje">
         <h2>Familiekaart</h2>
         <p>Samen met het gezin naar de dierentuin? <br>Voor 2 volwassenen en 2 kinderen</p>
      
      <img src="Images/pandalogo.png" />

      <h2>Voor Maar €38</h2>
       </div>
      <button type="button"> koop nu!</button>
        </div>    

        <div class ="container-kaartje">
      <div class="text-kaartje">
         <h2>Jaarkaart</h2>
         <p>Kan jij geen genoeg krijgen van onze dieren. <br>Dan is de jaarkaart perfect voor jou! </p>
      
       <img class="olifantlogo" src="Images/olifantlogo.png" />

       <h2>Voor Maar €99,69</h2>
        </div>
      <button type="button"> koop nu!</button>
    </div>    
 </div>